<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                      https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0"
         metadata-complete="true">
<servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>by.academypvt.controller.RegisterServlet</servlet-class>
</servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Authorisation</servlet-name>
        <servlet-class>by.academypvt.controller.AuthorisationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Authorisation</servlet-name>
        <url-pattern>/authorisation</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GoodServlet</servlet-name>
        <servlet-class>by.academypvt.controller.GoodServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GoodServlet</servlet-name>
        <url-pattern>/goods</url-pattern>
    </servlet-mapping>



</web-app>